header{
    display: flex;
    list-style: none;
    justify-content: center;
}
.nav{
    display: flex;
    list-style: none;
    justify-content: center;
    gap:22px;
}
.chatbox{
    height: 22px;
    width: 22px;
}
.logo{
    margin-right:40vw;
}
li{
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    color:#333333;
}
li::after{
    content:" ";
    width: 0;
    height: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 5px solid currentColor;
    margin-left: 6px;
    margin-top: 2px;
}