*{
    margin: 0;
    padding: 0;
}
header {
    display: flex;
    justify-content: space-around;
    position: sticky;
    top: 0px;
}

.nav {
    display: flex;
    list-style: none;
    justify-content: space-around;
    align-items: center;
    gap: 22px;
}

.chatbox {
    height: 22px;
    width: 22px;
}


header li {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #333333;
}

header li::after {
    content: " ";
    width: 0;
    height: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 5px solid currentColor;
    margin-left: 6px;
    margin-top: 2px;
}

.grid {
    max-width:50vw;
    display: grid;
    margin:auto;
    margin-top: 11vh;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;      
    align-items: center; 
    justify-content: center; 
    gap: 1vw;
    align-content: center;              
}
@media screen and (max-width:950px){
    .grid {
    max-width:50vw;
    display: grid;
    margin:auto;
    margin-top: 11vh;
    grid-template-columns: 1fr;
    overflow:scroll;
    justify-items: center;      
    align-items: center; 
    justify-content: center; 
    gap: 1vw;
    align-content: center;              
}
}

.item {
    border: 2px transparent black;
    background-color: #cfcfcf39;
    padding-bottom:6vh;
    padding-top:6vh;
    padding-left:6vw;
    padding-right:6vw;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap:2vw;
}
h4{
    margin: 0;
    padding: 0;
    font-weight: 550;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
}
.download{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(46, 219, 250);
    padding: 12px;
    display: flex;
    align-self: center;
    justify-self:center ;
    justify-content: center;
    align-items: center;
    border: transparent;
    border-radius: 12px;
    text-decoration: none;
    font-size: 12px;
    color: white;
    font-weight: bold;
}