:root{
  --c: rgb(78, 40, 203);  
}
body{
    margin: 344px;
}
*{
    margin: 0px;
    padding: 0px;
}
.nav ul{
    list-style-type:none;
    display:flex;
}
.nav ul li{
    padding: 10px;
    color: var(--c, blue);
}
.nav{
    display: inline-block;
    border:2px solid black;
}