.container{
    border:2px solid rgb(225, 215, 215);
    min-height:80vh;
    max-width:30vw;
    border-radius: 3%;
    position: relative;
}
.capsule{
    display:inline-block;
    border:2px solid rgb(225, 215, 215);
    border-radius: 27%;
}
.img{
    position: absolute;
    text-align: center;
    width: 80%;
    height:auto;
    top:5px;
    border:2px transparent rgb(225, 215, 215);
    border-radius:3%;
    position: abosolute;
    left:2.65vw
    
}